
div.container{
	width:80%;
	margin:0 auto;
	min-width:760px;
	max-width:1200px;
}
body{
    background-color: #C4C4C4/* Цвет фона веб-страницы */
} 
h3{
font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 67px;
/* identical to box height */
color: #337846;
text-align: center; 


   }
   div.boll{
width:94%;
height: 182px;
left: 73px;
top: 678px;
padding:3%;
background: rgba(63, 142, 86, 0.6);
   }
 p{
font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 36px;
color: #000000;
 }
 img.img1{
width: 300px;
height: 234px;
left: 1400px;
top: 1061px;
float: right;
margin-left:1%;
 
 }
img.img2 {
width: 400px;
height: 300px;
left: 125px;
top: 1332px;
float: left;
margin-right:1%;

}
img.img3 {
width: 400px;
height: 300px;
left: 1327px;
top: 1826px;
float: right;
margin-left:1%;

}
img.img4{
width: 450px;
height: 257px;
left: 120px;
top: 2540px;
float: left;
margin-right:1%;
}

img.img5{
width: 400px;
height: 250px;
left: 1277px;
top: 3098px;
margin-left:1%;
float: right;

}
img.img6{
width: 400px;
height: 250px;
left: 120px;
top: 3703px;
margin-right:1%;
float: left;

}
div.mmag{
margin:5%;	   
}
div.boll2{
margin-top:6%;
background: rgba(51, 120, 70, 0.1);
padding: 5%;
}

div.boll4{
margin-top:6%;	 
background: rgba(51, 120, 70, 0.1);
padding: 5%;

}
div.boll5{
margin-top:6%;	 
background: rgba(51, 120, 70, 0.1);
padding: 3%;
}
div.boll3{
margin-top:6%;	 
background: rgba(51, 120, 70, 0.1);
padding: 5%;
}
img.shap{
width:100%;
}
div.SS{
border:1px solid #C4C4C4;
background-image: url("OMSK-18.jpg");
background-size: cover;
width:100%;
height: 65%;
left: 5px;
top: 76px;

}
h2{
font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 87px;
/* identical to box height */
color: #FFFFFF;
text-align: center; 

}	

h2.z{
margin-top:100px;
margin-bottom: -30px; 
}
div.pod{
width: 100%;
height: 15%;
top: 0%;
background: rgba(89, 135, 102, 0.52);
mix-blend-mode: normal;

}
div.zed{
background: rgba(0, 0, 0, 0.37);
	
}
.inst{ 


margin:1%;
margin-top:25px;
float:left;
width: 50px;
height: 50px;

}



.menu{
background-image:url("b.png");
width:40px;
height:40px;
position:fixed;
background-repeat: no-repeat;
margin-top:0%;
//display:none;
//display:none;
//border:1px solid red;
	
}
.men{
width:300px;
height:1000px;
display:none;
top:0px;
background-color: rgba(0, 0, 0, 0.37);
padding:2%;
}
div.menu:hover div.men{
display:block;

}
ul{
font-size: 27px;
margin-right:1%;

}
li{
list-style-type: none;
color: #ffffff;
	  
}


.gmail{
display:block;
position:relative;
top:30px;
height: 60px;
float: left;
}
div.  {
padding-left:20%;
}
img.img7{
width: 300px;
height: 250px;
left: 1400px;
top: 1061px;
float: right;
margin-left:1%;
margin-bottom:1%;

}
 a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
	color: #ffffff;
   }
   a:hover {font-size: 30px;
   }